
body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #2d2d2d;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    transition: color 0.3s ease;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f39c12;
}

section {
    padding: 100px 20px 20px; /* Added padding to avoid content being hidden behind the navbar */
    margin: 20px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section h2 {
    border-bottom: 2px solid #2d2d2d;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px 0;
}

a {
    color: #2d2d2d;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #f39c12;
    text-decoration: underline;
}

#profile-link {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    transition: color 0.3s ease;
}

#profile-link:hover {
    color: #2980b9;
}

.project-tile {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.project-tile:hover {
    background-color: #f39c12;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }
}
